{% extends 'base.html' %}

{% block title %} ABOUT {% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3">
    <img src="/static/images/123.jfif" class="d-block w-100 my-0 bg-image" alt="img" style="position:relative;">
    <div class="col-md-6 px-0" style="position:absolute; top:250px; left:50px">
        <h1 class="display-4" style="font-family:fantasy">ART<br>GALLERY</h1>
        <p class="lead my-3" style="font-weight:400 ">A one place destination for all artists to showcase there art.</p>
        <p><a class="btn btn-lg btn-primary" href="/">Explore</a></p>
    </div>
    <div class="col-md-6 px-0" style="position:absolute; top:200px; right:50px">
        <h4 class="display-8">ABOUT US</h4>
        <p class="lead my-3" style="font-weight:400" >At ART GALLERY, you can view various arts from all over the world. It is a one place stop for all artists to share there art with everyone.</p>
        <P class="lead my-3" style="font-weight:400">Our website is open for professionals, hobbyists and everyone who is interested in creative stuff.</P>
        <p class="lead my-3" style="font-weight:400">Explore to find out more. Make submissions to post your art and become a part of ART GALLERY community.</p>
    </div>
</div>
{% endblock body %}
