Hello/__pycache__/settings.cpython-310.pyc
Hello/__pycache__/urls.cpython-310.pyc
Home/__pycache__/models.cpython-310.pyc
Home/__pycache__/urls.cpython-310.pyc
Home/__pycache__/views.cpython-310.pyc
db.sqlite3